# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
dist/
build/
.mypy_cache/
data/corpus/
data/docling/
data/chunks/
data/embeddings/
# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
.ruff_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#Frontend
node_modules/
