OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_PORT=11434
OLLAMA_MODEL=qwen2.5:3b-instruct
OLLAMA_MODEL_CYPHER=qwen2.5:3b-instruct
OLLAMA_MODEL_ANSWER=llama3.2:3b
HF_MODEL=mistralai/Mistral-Small-24B-Instruct-2501
HF_QUANTIZATION=None        # None | bnb4
BERT_TOPIC_MODEL=OpenAlex/bert-base-multilingual-cased-finetuned-openalex-topic-classification-title-abstract
HOST=localhost
ANTHROPIC_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# =========================
# NEO4J
# =========================
NEO4J_USER=XXXX
NEO4J_PASSWORD=XXXX
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

# =========================
# QDRANT
# =========================
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334


# =========================
# POSTGRE
# =========================
POSTGRES_PORT=5433
POSTGRES_USER=XXXX
POSTGRES_PASSWORD=XXXX
POSTGRES_DB=app_db
POSTGRES_IMAGE=postgres:15
POSTGRES_CONTAINER_NAME=postgres-graphrag